.container-class {
    background: linear-gradient(to right, #007bff, #6c757d); /* Blue to Grey gradient */
    background-size: cover; /* Cover the entire container */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form {
    background-color: #ffffff; /* White background for the form */
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); /* Grey box shadow */
}

.header {
    color: #007bff; /* Blue header color */
    text-align: center;
}

.errors {
    color: red; /* Red color for error messages */
}
