.signup-container-class {
    background: linear-gradient(to right, #007bff, #6c757d); 
    background-size: cover; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container-class {
    background: linear-gradient(to right, #191970, #6c757d); 
    background-size: cover; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form {
    background-color: #ffffff; 
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); 
}

.header {
    color: #007bff;
    text-align: center;
}

.errors {
    color: red; 
}

.content-container-class {
    background: linear-gradient(to right, #007bff, #6c757d);
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

.rounded-div {
    background-color: #FAF9F6;
    border-radius: 10px; 
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }